@font-face {
  font-family: 'fonts';
  src: url('../font/fonts.eot?21319804');
  src: url('../font/fonts.eot?21319804#iefix') format('embedded-opentype'),
       url('../font/fonts.woff?21319804') format('woff'),
       url('../font/fonts.ttf?21319804') format('truetype'),
       url('../font/fonts.svg?21319804#fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fonts';
    src: url('../font/fonts.svg?21319804#fonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-circled:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-thumbs-down:before { content: '\e807'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-flag-empty:before { content: '\e80a'; } /* '' */
.icon-flag:before { content: '\e80b'; } /* '' */
.icon-bell:before { content: '\e80c'; } /* '' */
.icon-bell-alt:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-mail-alt:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e812'; } /* '' */
.icon-flag-1:before { content: '\e813'; } /* '' */
.icon-pinboard:before { content: '\e814'; } /* '' */
.icon-calendar:before { content: '\e815'; } /* '' */
.icon-dollar:before { content: '\e816'; } /* '' */
.icon-pin:before { content: '\e817'; } /* '' */
.icon-wrench:before { content: '\e818'; } /* '' */
.icon-help-circled:before { content: '\e819'; } /* '' */
.icon-help:before { content: '\e81a'; } /* '' */
.icon-login:before { content: '\e81b'; } /* '' */
.icon-android:before { content: '\e81c'; } /* '' */
.icon-windows:before { content: '\e81d'; } /* '' */
.icon-apple:before { content: '\e81e'; } /* '' */
.icon-clock:before { content: '\e81f'; } /* '' */
.icon-chat-empty:before { content: '\e820'; } /* '' */
.icon-chart:before { content: '\e821'; } /* '' */
.icon-chart-outline:before { content: '\e822'; } /* '' */
.icon-facebook-rect:before { content: '\e823'; } /* '' */
.icon-twitter:before { content: '\e824'; } /* '' */
.icon-googleplus:before { content: '\e825'; } /* '' */