div .taskersHeader , div .specializationsHeader{
	margin : auto;
	width : 10em;
	margin-top : 15px;
	margin-bottom : 5px;
	border-bottom : 3px solid #ff967f;
	text-align : center;
	padding-bottom: 10px;
	font-size: 25px;
	color: #FF6927;
	letter-spacing: 2px;
	font-weight: bold;
}