body{
	background-color: #F5F6F6;
}
.filter-gradient{
	margin-top: -11px;
	margin-left: -15px;
}
#main_image{
	margin: 0;
	width: 1364px;
	height: 800px;
  margin-left: 10px;
}
#show-specialiaztion{
	margin-left: 570px;
}
#show_more_specialization{
	margin-top: 20px;
	display: none;
}
#more_specialize{
	
}

.img-card{
	max-width: 285px;
	height: 200px;
	max-height: 200px;
 
	
}
.card[data-color="black"] {
  background: #787878;
  background: -moz-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #343434), color-stop(100%, #787878));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #343434 0%, #787878 100%);
  /* W3C */
  background-size: 250% 250%;
}
/* End   HeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeRe  */


.card {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  max-width: 285px;
  margin-left: auto;
  margin-right: auto;
  max-height: 285px;
  height: 300px;
}

.card .img-header {
    height: 72%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 300px;

}
.row .card-box {
    background-color: #888;
    width: 33.333333%;
}
.text{
	color:orange;
}
.h4{
	text-align: center;
}
.containerSec{
	margin-top: 30px;
	
}
.p{
	text-align: center;
}
 a:hover{
	text-decoration: none;
}
.containerCard{
	margin-left: 150px;
}
