body{
    background: #F5F8FA;

}

.whiteBackGround {
    background: #fff;
    font-size: 14px;
    line-height: 18px;
}

.notificationIcon{
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    margin:5px 5px 5px 5px ;
    border-radius: 30px 30px 30px 30px;
}
.notificationHeaderIconAnimation { transition: all .2s ease-in-out; }
.notificationHeaderIconAnimation:hover { transform: scale(1.1);}

span {
    line-height: 1.9;
    color: #E96722;
    padding-right: 5px;
    padding-left: 5px;
}

.grayColor{
    color: #666;
}

.notificationBody{
    color: #444;
    margin: 0 0 5px 5px ;
    line-height: 1.6;
    text-align: center;
}

.notificationHeader{
    font-size: 150%;
    color: #E96722;
}

.notificationTime{
    float:right;
    color:#E96722;
    font-weight: bold;
}

.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

#seeMorePaginator{
  width:120px;
  height: 120px;
  border-radius: 100%;
  border : 2px solid #E96722;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  color: #E96722;
  cursor:pointer;
}

#seeMorePaginator p{
  margin-top: 53px;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 12px;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 12px;
}

#seeMorePaginator:hover {
  border-color: orange;
  color: orange;
}

#seeMorePaginator a:hover{
  text-decoration: none;
}

.paginator-loading-bar {
  display: inline-block;
  width: 5px;
  height: 27px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.paginator-loading-bar:nth-child(1) {
  background-color: #E96722;
  animation-delay: 0;
}
.paginator-loading-bar:nth-child(2) {
  background-color: orange;
  animation-delay: 0.09s;
}
.paginator-loading-bar:nth-child(3) {
  background-color: #E96722;
  animation-delay: .18s;
}
.paginator-loading-bar:nth-child(4) {
  background-color: orange;
  animation-delay: .27s;
}

.paginatorLoader{
  margin-top: 43px;
}

.paginatorCircle{
  width:120px;
  height: 120px;
  border-radius: 100%;
  border : 2px solid #E96722;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  color: #E96722;
  display: none;
}

#seeMorePaginator a{
  color : #E96722;
}

#seeMorePaginator a:hover{
  color : orange;
}

.textCenter{
  text-align: center;
}