body{
    background: #dcdfe1;

}
.hidding{

    color: #666;
}

#task-pendding {
background: #F5F8FA;

    font-size: 14px;
    line-height: 18px; }

.img-card{
	max-width: 264px;
	height: 200px;
	max-height: 200px;

}
.card[data-color="black"] {
  background: #787878;
  background: -moz-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #343434), color-stop(100%, #787878));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #343434 0%, #787878 100%);
  /* W3C */
  background-size: 250% 250%;
}
/* End   HeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeRe  */


.card {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  max-width: 285px;
  margin-left: auto;
  margin-right: auto;
  max-height: 285px;
  height: 300px;
}

.card .img-header {
    height: 72%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 300px;

}
.row .card-box {
    background-color: #888;
    width: 33.333333%;
}
.text{
	color:orange;
}
.h4{
	text-align: center;
        color: #E96722;

}
.containerSec{
	margin-top: 30px;

}
.p{
    color: #E96722;
	text-align: center;
}
 a:hover{
	text-decoration: none;
}
.containerCard{
	margin-left: 150px;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

#but{
    margin: 10px 10px 0px 0px;
    padding: 10px 10px 10px 10px;
      background:#E96722 ;
    color: #fff;
}
#spann {
            line-height: 1.9;
color: #E96722;
    padding-right: 5px;
padding-left: 5px;
}
.hiddingg{
    color: #444;
    margin: 0 0 5px 5px ;
    line-height: 1.6;
}
.pkk{
     color: #444;
    margin:5px 5px 5px 5px ;
    padding: 5px 5px 5px 5px;
    text-align: initial;
    line-height: 1.6;
}

