/*.confrim-password-input{
	display: none;
}
.save-btn{
	margin-left: 600px;
}
.image-change{
	display: none;
}
.image-profile{
	width: 250px;
	height:250px;
}
}
.containerMain{
	margin-top: 80px;
}
*/
.main{
    margin-top: 86px;
}
.containerMain{
    margin-top: 80px;
}
.confrim-password-input{
	display: none;
}
.save-btn, .delete-btn{
	float: right;
	margin: 3px;
}
.image-change{
	display: none;
}