

/*           Animations              */
.form-control, .input-group-addon{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/*           Navigation Bar             */
.navbar{
    border: 0 none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 14px;
}
.navbar-default {
    background-color: #D9D9D9;

}
.navbar .navbar-brand {
    font-weight: 600;
    margin-bottom: 13px;
    font-size: 20px;
}
.navbar-nav > li > a {
    margin: 1px 3px;
    padding: 6px 7px;
    text-align: center;
    min-width: 70px;
}
.navbar-nav > li > a [class^="fa"]{
    font-size: 18px;
}
.navbar-brand{
    padding: 20px 15px;
}
.navbar .navbar-nav [class^="pe"]{
    font-size: 32px;
    position: relative;
}
.navbar .navbar-nav p{
    margin: 0 0 0;
    font-size: 12.5px;
}
.navbar .btn{
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-default:not(.navbar-transparent) {
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent{
    padding-top: 15px;
    background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand{
    color: #FFFFFF;
    opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #5E5E5E;
}
.navbar-transparent .nav .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a{
    color: #FFFFFF;
    border-color: #FFFFFF;
    text-align: center;
}
.navbar-transparent .navbar-nav > li > a{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(43, 43, 43, 0.1);
    border-radius: 4px;
    color: #555555;
    opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #2C93FF;
    border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: rgba(255, 255, 255, 0);
    color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus, .navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus, [class*="navbar-ct"] .navbar-nav > .active > a, [class*="navbar-ct"] .navbar-nav > .active > a:hover, [class*="navbar-ct"] .navbar-nav > .active > a:focus, [class*="navbar-ct"] .navbar-nav > li > a:hover, [class*="navbar-ct"] .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret{
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret, .navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    opacity: 1;
}
.navbar .label{
    background-color: #FF4C40;
    position: absolute;
    right: -10px;
    top: 0px;
    font-size: 10px;
    font-family: "Helvetica Neue";
    text-shadow: none;
}
[class*="navbar-ct"] .label{
    background-color: #FF4C40;
    color: white;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover{
    color: #2C93FF;
    border-color: #2C93FF;
}
.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default{
    color: #FFFFFF;
    border-color: #FFFFFF;
}
[class*="navbar-ct"] .btn-default.btn-fill{
    color: #777777;
    background-color: #FFFFFF;
    opacity: 0.9;
}
[class*="navbar-ct"] .btn-default.btn-fill:hover, [class*="navbar-ct"] .btn-default.btn-fill:focus, [class*="navbar-ct"] .btn-default.btn-fill:active, [class*="navbar-ct"] .btn-default.btn-fill.active, [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default{
    border-color: #FFFFFF;
    opacity: 1;
}
.navbar-form{
    box-shadow: none;
}
.navbar-form .form-control{
    background-color: rgba(244, 244, 244, 0);
    border-radius: 0;
    border:0;
    height: 22px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #777777;
}
.navbar-transparent .navbar-form .form-control, [class*="navbar-ct"] .navbar-form .form-control{
    color: #FFFFFF;
    border: 0;
}

.navbar:not(.navbar-transparent).navbar-ct-grey{
    background-color: #39424E;

}

.dropdown-menu > li > a {
    padding: 8px 20px;
    color: #333333;
}
.dropdown-menu > li:first-child > a{
    border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
    border-bottom: 0 none;
    border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F5F5F5;
    color: #333333;
    opacity: 1;
    text-decoration: none;
}
.navbar-toggle{
    margin-bottom: 27px;
    margin-top: 27px;
    border: 0;
}
.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-collapse, .navbar-form {
    border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,0);
}
.navbar-brand-logo{
    padding: 0;
}
.navbar-brand-logo .logo{
    float: left;
    overflow: hidden;
    width: 60px;
}
.navbar .navbar-brand-logo .brand{
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
    width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
    color: #555;
}

.logo img{
    width: 61px;
    height: 61px;
}
@media (min-width: 768px){
    .navbar-nav > li > .dropdown-menu{
        display: block;
        padding: 0;
        z-index: 9000;
        position: absolute;
        -webkit-border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        -webkit-filter: alpha(opacity=0);
        -moz-filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -o-filter: alpha(opacity=0);
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }

    .navbar-nav > li.open > .dropdown-menu{
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        -ms-filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }

    .dropdown-menu:before{
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -11px;
    }

    .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -10px;
    }

}

@media (max-width: 768px){
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0,0,0,0);
        border-color: #428BCA;
    }
    .navbar-collapse{
        text-align: center;
    }
    .navbar-collapse .navbar-form {
        width: 170px;
        margin: 0 auto;
    }
}

.navBarCustomIcon{
    height: 35px;
    width: 28px;
}

.navbar-inverse {

margin-bottom: 0px;
}


/*start desgin page  */
@media (max-width: 768px)
{

.section-one .header-content { 

margin-top:  -85px;
}
}


.section-one
{
text-transform: capitalize;
	text-align: center;
}
.section-one .content-header { 

margin-top:  -100px;
text-align: center	
	

}
.section-one .content-header h2 {
   color:  #F47857;

}
.section-one .content-header h3  {
color: #999;

}
.section-one .content-header h6  {
color: #999;

}
.section-one .content-header h6 i {
   color:  #F47857;

}
.section-one .content-header img { 
	height: 150px;
	width: 150px;
	border-radius: 90px;
}
.section-one .cover {
background-position: center;
background-size: contain;
background-attachment: fixed;
	width: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
		height: 350px;
}
 
@media (max-width: 480px)
{
.section-one .cover {
	height: 250px;

}



}

.section-two {

margin-top: 30px;
}
.section-two .nav-tabs > li > a  {

        padding-left: 250px;
    padding-right: 250px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}



.section-two .nav-tabs {
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
}


@media (max-width: 768px)
{
	
.section-two .nav-tabs > li > a  {
	
padding-left: 110px;
padding-right: 110px;	
}

}


@media (max-width: 480px)
{
	
.section-two .nav-tabs > li > a  {
	
padding-left: 20px;
padding-right: 20px;
	
}

}
.section-two .nav-tabs > li.active > a{
color: #F47857;

}
.section-two .info .info-content i {

padding: 12px;
}
.section-two .info .info-content
{
 margin-top: 50px;

}
@media (max-width: 480px) {
.section-two .info .info-content
{
 margin-top: 30px;
}

.section-two .info .info-content  .Task-owner {

margin-left: 5px;
} 
	
}
.section-two .info .info-content  .Task-owner {

margin-left: 35px;
text-transform: capitalize;	
}
.section-two .info .info-content  .Task-owner span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;

}
.section-two .info .info-content  .Task-owner span:last-of-type {
color: #999;
padding-left: 12px;	
}



@media (max-width: 480px) {


.section-two .info .info-content  .Task-title {

margin-left: 5px;
} 
	
}

.section-two .info .info-content  .Task-title {
margin-left: 35px;
text-transform: capitalize;	
}
.section-two .info .info-content  .Task-title  span .fa-2x {
    font-size: 1.1em;

}

.section-two .info .info-content  .Task-title  span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;

}
.section-two .info .info-content  .Task-title  span:last-of-type {
color: #999;
padding-left: 12px;	
}





@media (max-width: 480px) {


.section-two .info .info-content  .Task-Description {

margin-left: 5px;
} 
	
}

.section-two .info .info-content  .Task-Description {
margin-left: 35px;
text-transform: capitalize;	
}

.section-two .info .info-content  .Task-Description   span .fa-2x {
    font-size: 1.1em;

}

.section-two .info .info-content  .Task-Description  span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;
   
}
.section-two .info .info-content  .Task-Description   span:last-of-type {
color: #999;
padding-left: 12px;	
}




@media (max-width: 480px) {


.section-two .info .info-content  .Task-Spcialization {

margin-left: 5px;
} 
	
}

.section-two .info .info-content  .Task-Spcialization {
margin-left: 35px;
text-transform: capitalize;	
}

.section-two .info .info-content  .Task-Spcialization   span .fa-2x {
    font-size: 1.1em;

}

.section-two .info .info-content  .Task-Spcialization  span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;
   
}
.section-two .info .info-content  .Task-Spcialization   span:last-of-type {
color: #999;
padding-left: 12px;	
}




@media (max-width: 480px) {


.section-two .info .info-content  .Task-skills {

margin-left: 5px;
} 
	
}

.section-two .info .info-content  .Task-skills {
margin-left: 35px;
text-transform: capitalize;	
}

.section-two .info .info-content  .Task-skills   span .fa-2x {
    font-size: 1.1em;

}

.section-two .info .info-content  .Task-skills  span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;
   
}
.section-two .info .info-content  .Task-skills   span:last-of-type {
color: #999;
padding-left: 12px;	
}

.section-two .info .info-content  .Task-skills  .form-group {
cursor: pointer;
width: 300px;
}


@media (max-width: 768px)
{
.section-two .info .info-content  .Task-skills  .form-group {

width: 100%;

}

}
.section-two .info .info-content  .Task-skills  .form-group  select{
cursor: pointer;
outline: none;
box-shadow: none;	
}



@media (max-width: 480px) {


.section-two .info .info-content  .Task-status {

margin-left: 5px;
} 
	
}

.section-two .info .info-content  .Task-status {
margin-left: 35px;
text-transform: capitalize;	
}

.section-two .info .info-content  .Task-status   span .fa-2x {
    font-size: 1.1em;

}

.section-two .info .info-content  .Task-status  span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;
   
}
.section-two .info .info-content  .Task-status   span:last-of-type {
color: #999;
padding-left: 12px;	
}





.section-two .offer  .offer-content .card img {

width: 120px;;
height: 90px;	

}


.bttn {
	  
  margin-top: 12px;
  font-family: "Roboto";
  margin-bottom: 12px;
  display: inline-block;
  padding: 0 4rem;
  height: 36px;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-color:  #F47857;
  cursor: pointer;
  transition: all ease-in-out 300ms;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.2);
}
 .btn-hover {
  position: relative;
  overflow: hidden;
}
  .btn-hover:hover::before {
  transform: translateX(100%);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.4);
}
  .btn-hover::before {
  transition: all 300ms ease-out;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%);
  border-radius: 10%;
  transform: translateX(-100%);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.img-card{
	max-width: 264px;
	height: 200px;
	max-height: 200px;

}
.card[data-color="black"] {
  background: #787878;
  background: -moz-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #343434), color-stop(100%, #787878));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #343434 0%, #787878 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #343434 0%, #787878 100%);
  /* W3C */
  background-size: 250% 250%;
}
/* End   HeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeRe  */


.section-two .offer {

margin-top: 50px;
}
.card {
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
height: 315px;
}
.section-two .offer .offer-content .card img {
    width: 100%;
    height: 227px;
}

.section-two .offer .offer-content .content-offer .fa-2x
{
    font-size: 1.0em;
        color: #E86721;

}

.section-two .offer .offer-content .content-offer 
{

padding-left: 20px;
	text-transform: capitalize;
}

.section-two .offer .offer-content .content-offer span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;
	
   
}
.section-two .offer .offer-content .content-offer  span:last-of-type {
color: #999;
	
}

.section-two .offer .offer-content .offer-Description {
text-transform: capitalize;

padding-left: 20px;
}
.section-two .offer .offer-content .offer-Description span:first-of-type {

	 font-family: "Roboto";
       color: #E86721;
	font-size: 18px;
	
   
}
.section-two .offer .offer-content .offer-Description span:last-of-type {
color: #999;
	
}

.section-two .offer .offer-content .card-img  .text-card i {
       color: #E86721;
padding-left: 12px;
	padding-right: 12px;
	padding-top: 15px;

}
.section-two .offer .offer-content .card-img  .text-card  h4 {
text-decoration: none;
cursor: pointer;
color: #999;	
text-transform: capitalize;	
	font-family: "Roboto";
}


.section-two .offer .offer-content .card-img  .text-card {
padding-bottom: 30px;
margin-bottom: 15px;
}
.section-two .offer .offer-content .card-img  .text-card  h6 {
text-decoration: none;
cursor: pointer;
color: #999;	
	text-transform: capitalize;
	font-family: "Roboto";
}

.card .img-header {
    height: 72%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}
.row .card-box {
    background-color: #888;
    width: 33.333333%;
}



fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}


.modal .modal-content .hmodalTitle
{

	 font-family: "Roboto";
       color: #999;
	font-size: 18px;
}


.modal .modal-content .modal-body  p{
  margin  : 0 0 1.5em;
  padding : 0;
}

 .modal .modal-content .modal-body  a{
  color           : red;
  text-decoration : none;
}

.modal .modal-content .modal-body .starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.modal .modal-content .modal-body .starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.modal .modal-content .modal-body .starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('../img/star-off.svg');
  background-size : contain;
}

.modal .modal-content .modal-body .starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../img/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.modal .modal-content .modal-body .starRating:not(old) > label:hover:before,
.modal .modal-content .modal-body .starRating:not(old) > label:hover ~ label:before,
.modal .modal-content .modal-body .starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
