body{
    background-color: #fff;
    color:#39424E  ;
}
#about_tasker {


  padding-right: 0px;
    padding-left: 0px;
}

.profilePictuer-tasker{
    border: 4px solid #fff;
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 105px;
    border-top-right-radius: 105px;
    border-top-left-radius: 105px;
}

.label-taskr img {

    border: 4px solid #fff;
    border-bottom-right-radius: 105px;
    border-bottom-left-radius: 105px;
    border-top-right-radius: 105px;
    border-top-left-radius: 105px;
    height: 62px;
    width: 61px;

}

.profil {

margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    color: #999;
}

.profil img {
height: 200px;
    width: 200px;
}
.title{
        line-height: 1.6;

    margin-top: 14px;

}
.title h1 {
    margin-bottom: 10px;
}
#spann {
    line-height: 1.9;
    color: #E96722;
    padding-right: 5px;
    padding-left: 5px;
}

.spanh{
   padding-right: 7px;
    padding-left: 7px;
    color: #fff;
}

#cont{
      color:#E96722;
      font-size: 18px;
}
.profilePictuer-tasker { transition: all .2s ease-in-out; }
.profilePictuer-tasker:hover { transform: scale(1.1);

}

.p-about{

margin: 0 0 10px 10px ;
    line-height: 1.6;
    color: #666;

}

.hiddeng {
    margin: 30px 40px 20px 40px ;
    color: #777;
}

he.hidnav{

   margin: 20px 20px 20px 20px ;
    color: #777;
}

.label-taskr{
    margin-top: 30px;
    margin-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 20px;

}

.none{
    margin: 0px 0px 10px 10px ;
    color: #777
}

#assign{

    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color:#E96722 ;
}

hr{
    margin-bottom:0px;
    margin-top: 0px;
    margin-left: 20px;

}
#header_tasker{
    background:url("/images/BIKE_thumb.jpg");

}
.hire-me  button {
background: none;
color: #777;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px

}

.tabContent .hire-me .price-hire {

margin-top: 30px;
margin-bottom:5px;
padding-left: 12px;
padding-right: 12px;
color: #F47857;
font-family: "Roboto";
text-transform: capitalize;
font-size: 18px;
}


.tabContent .hire-me .price-hire  span{
    padding-left: 12px;
    padding-right: 12px;
    color: #999;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;

}

.tabContent  .specialization-hire{
    margin-top: 30px;
    margin-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.tabContent .specialization-item {
    padding-left: 12px;
    padding-right: 12px;
    color: #999;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.tabContent .skills-hire{
    margin-top: 30px;
    margin-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.tabContent .skillname-hire{
    padding-left: 12px;
    padding-right: 12px;
    color: #999;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.bolder{
    font-weight: bolder;
}

.containerMainn{
    margin-top: 49px;
}

.task hr{

}

.task-title-label{
    margin-top: 30px;
    margin-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bolder;

}

.task-title-content{
    padding-left: 12px;
    padding-right: 12px;
    color: #999;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.task-description-label{
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.task-description-content{
    padding-left: 12px;
    padding-right: 12px;
    color: #999;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.task-status-label{
    margin-top: 30px;
    margin-bottom:5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #F47857;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bolder;
    
}

.task-status-content{
    padding-left: 12px;
    padding-right: 12px;
    color: #999;
    font-family: "Roboto";
    text-transform: capitalize;
    font-size: 18px;
}

.sendMessage{
    font-size : 200%;
    color: #E96722;
    cursor: pointer;
    box-sizing: border;   
}